<!--<div ng-include="'components/navbar/navbar.html'"></div>-->

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Twitter Hourly Stats</h1>
  </div>
</header>

<div class="container">
  <div class="row" ng-show='hasToken'>
    <h4 class="page-header">Twitter Screen Name</h4>
    <input type=”text” ng-disabled='processing' ng-model='twitterScreenName'/>
    <button type=”submit” ng-disabled='processing' ng-click='show()' class="btn btn-default">Show</button>
    <h4 class="text-center" ng-show='processing'><small>Processing ...</small></h4>
    <highchart ng-show='canDisplayChart()'id="chart1" config='chartConfig' class="span10"></highchart>
  </div>
  <div class="row" ng-hide='hasToken'>
    <h3 class="text-center"><small>Authenticating ...</small></h3>
  </div>
</div>

