<!--<div ng-include="'components/navbar/navbar.html'"></div>-->

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Twitter Hourly Stats</h1>
  </div>
</header>

<div class="container">
  <div class="row" ng-show='hasToken'>
    <h4 class="page-header">Twitter Screen Name</h4>
    <input type=”text” ng-disabled='processing' ng-model='twitterScreenName'/>
    <button type=”submit” ng-disabled='processing' ng-click='show()' class="btn btn-default">Show</button>
    <h4 class="text-center" ng-show='processing'><small>Processing ...</small></h4>
    <histogram></histogram>
  </div>
  <div class="row" ng-hide='hasToken'>
    <h3 class="text-center"><small>Authenticating ...</small></h3>
  </div>
  <div class="alert alert-danger" ng-show='hasError' role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
    {{error}}
  </div>
</div>

